@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('/image/book.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional: keeps the image fixed during scrolling */
    }
</style>
    <div class="text-center mt-5">
    <h1 class="display-7 text-dark bg-cyan">Welcome To Students Management</h1>
    </div>
