@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: aquamarine;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional: keeps the image fixed during scrolling */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
